{
  "singleQuote": true,
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "es5",
  "parser": "css"
}
